body {
    background-color: #EBF0FF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #95AFFE;
    display: flex;
    flex-wrap: wrap;
}
li {
  flex: 1;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #C621FC;
}
.active {
    background-color: #2158FC;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #BFA9FE;
    width: 100%;
}
.mainChild1 {
    flex: 1;
    padding: 25px;
}
.mainChild2 {
    flex: 2;
    padding: 25px;
}


